*{
    margin: 0;
    padding: 0%;
}
body{
    background-color:  rgb(250, 219, 224);
    text-align: center; 
    font-family: 'Bree Serif', serif; 
}
.boton{
    background-color:rgb(226, 145, 145);
    color: black;
    border-color: black;
    font-family: 'Bree Serif', serif;
    font-size: 1em;
}
#salida{
    background-color: rgb(238, 167, 167);
}
footer{
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    vertical-align: middle;
}
ul{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}
a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
    
    vertical-align: middle;
}
a:hover{
    background-color: rgb(250, 219, 224);
    font-size: 1.8em;
}